<div class="crm-wrapper">
    <div class="crm-content">
        <!-- Main Title and Navigation -->
        <div class="main-title">
            <h3>CRM</h3>
            <nav>
                <a routerLink="leads" routerLinkActive="active-tab">Leads</a>
                <a routerLink="follows-up" routerLinkActive="active-tab">Follow ups</a>
                <a routerLink="sources" routerLinkActive="active-tab">Sources</a>
                <a routerLink="life-stage" routerLinkActive="active-tab">Life Stage</a>
                <a routerLink="followup-category" routerLinkActive="active-tab">Follow Up category</a>

                
            </nav>
        </div>

    </div>

    <!-- Router outlet below menu -->
    <div class="router-outlet-container">
        <router-outlet></router-outlet>
    </div>
</div>
