.filters-section {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5%;
  }
  h2{
    margin-top: 5%;
  }
  .card {
    border-radius: 8px;
    margin-top: 5%;
  }
  
  .nav-tabs .nav-link {
    font-weight: bold;
  }
  
  .btn {
    margin-right: 5px;
  }
  
  .table {
    font-size: 14px;
  }
  
  .table th {
    background: #f1f1f1;
  }
  
  .table td img {
    border-radius: 5px;
  }
  